Ex1/Ex1_task3_dbg.exe
Ex1/Ex1_task3_rls.exe
Ex1/Ex1_task3.dot
Ex1/Ex1_task3.gif
Ex1/Ex1_task3.layout
Ex1/ex1_task3.wav
Ex1/log_file.txt
Ex1/out_win_dbg
Ex1/out_win_rls
Ex1/out_linux_dbg
Ex1/out_linux_rls

Ex2/Ex2_task1_dbg.exe
Ex2/Ex2_task1.dot
Ex2/ex2_task1.wav
Ex2/Ex2_task1.layout
Ex2/log_file.txt
Ex2/out_win_dbg
Ex2/out_win_rls
Ex2/out_linux_dbg
Ex2/out_linux_rls

Ex3/Ex3_task3.layout
Ex3/Ex3_task3_dbg.exe
Ex3/out_win_dbg
Ex3/out_win_rls
Ex3/out_linux_dbg
Ex3/out_linux_rls
Ex3/Ex3_task3.dot
Ex3/ex3_task3a.flt
Ex3/ex3_task3b.flt
Ex3/ex3_task3b.wav
Ex3/log_file.txt
