Ex1/Ex1_task3_dbg.exe
Ex1/Ex1_task3_rls.exe
Ex1/Ex1_task3.dot
Ex1/Ex1_task3.gif
Ex1/Ex1_task3.layout
Ex1/ex1_task3.wav
Ex1/log_file.txt
Ex1/out_win_dbg
Ex1/out_win_rls
Ex1/out_linux_dbg
Ex1/out_linux_rls

Ex2/Ex2_task1_dbg.exe
Ex2/Ex2_task1.dot
Ex2/ex2_task1.wav
Ex2/Ex2_task1.layout
Ex2/log_file.txt
Ex2/out_win_dbg
Ex2/out_win_rls
Ex2/out_linux_dbg
Ex2/out_linux_rls

Ex3/Ex3_task3.layout
Ex3/Ex3_task3_dbg.exe
Ex3/out_win_dbg
Ex3/out_win_rls
Ex3/out_linux_dbg
Ex3/out_linux_rls
Ex3/Ex3_task3.dot
Ex3/ex3_task3a.flt
Ex3/ex3_task3b.flt
Ex3/ex3_task3b.wav
Ex3/log_file.txt

Ex3-solution

Ex4/out_win_dbg
Ex4/out_win_rls
Ex4/out_linux_dbg
Ex4/out_linux_rls
Ex4/Ex4_task2_dbg.exe
Ex4/Ex4_task2.dot
Ex4/log_file.txt
Ex4/ex4_task2.flt
Ex4/ex4_task2.wav

Ex5/out_win_dbg
Ex5/out_win_rls
Ex5/out_linux_dbg
Ex5/out_linux_rls
Ex5/Ex5_task1_dbg.exe
Ex5/Ex5_task1.dot
Ex5/log_file.txt
Ex5/matlab/delta_44100.wav
Ex5/matlab/ex5_task.wav
Ex5/matlab/ex5_task1a.flt
Ex5/matlab/ex5_task1.flt
Ex5/ex5_task1.dot~
Ex5/matlab/ex5_task1.wav

Ex6/out_win_dbg
Ex6/out_win_rls
Ex6/out_linux_dbg
Ex6/out_linux_rls
Ex6/ex6_task1_ch1.flt
Ex6/Ex6_task1_dbg.exe
Ex6/Ex6_task1.dot
Ex6/ex6_task1.flt
Ex6/ex6_task1.wav
Ex6/Ex6_task1b_dbg.exe
Ex6/Ex6_task2_dbg.exe
Ex6/Ex6_task2_test_dbg.exe
Ex6/log_file.txt
Ex6/SymbolMapper_test_dbg.exe
Ex2/Ex2_task1_rls.exe
